# Python dependencies
# Deep learning libraries
local_attention
torch
torchaudio
torchfcpe
torchtune
transformers
vector_quantize_pytorch

# Data processing libraries
pyworld
torchcodec

# Data handling and utilities
datasets[audio]
huggingface_hub