# Python dependencies
# Deep learning libraries
local_attention
torch
torchaudio
torchfcpe
torchtune
transformers
vector_quantize_pytorch

# Data processing libraries
pyworld
tensordict
torchcodec
torchdata

# Utility libraries
datasets[audio]
huggingface_hub
safetensors
tqdm